.gitattributes text eol=lf
.github/*.yml text eol=lf
.github/*.yaml text eol=lf
.github/**/*.yml text eol=lf
.github/**/*.yaml text eol=lf
oxlint.config.ts text eol=lf
.githooks/* text eol=lf
.agents/** text eol=lf
skills-lock.json text eol=lf
